body{
    background-color: #e3e3e8;
    word-break:break-all;
}
.main{
    margin: 30px;
    background-color: white;

}
.btn-success{
    float:right;
    margin-bottom:10px;
}

.row{
    margin-bottom: 15%;
}
.navbar-toggle {
    padding: 6px 10px;
}
.media-object{
    width: 50px;
    height: 50px;
}
.des{
    display:block;
    font-size: 10px;
    color: #cab5b5;
    margin-top: 3px;
}
