body{
    background-color: #e3e3e8;
    word-break:break-all;
}
.main{
    margin: 30px;
    background-color: white;

}
.btn-success{
    float:right;
    margin-bottom:10px;
}

.row{
    margin-bottom: 15%;
}
.navbar-toggle {
    padding: 6px 10px;
}
